{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/signup.css' %}">
    <title>Log In</title>
</head>
<body>
    <div class="main">
        <div class="logo-div">
            <img src="{% static 'home/images/logo02.png' %}" alt="Logo">
        </div>
        {% if message %}
                <div class="error-box">
                    <h4>{{ message }}</h4>
                </div>
        {% endif %}
    
        <div class="form-div">
            <h3>Special LogIn</h3>
    
            <form class="form" action="" method="post">

                

                {% csrf_token %}

                <div class="form-interior">
                    <label class="form-label" for="">Enter Username: </label>
                    <input class="form-input" type="text" name="username" value="{{ username|default:'exampleUser' }}" required>
                </div>
    
                <div class="form-interior">
                    <label class="form-label" for="">Enter Password: </label>
                    <input class="form-input" type="password" name="password" id="" value="pass" required> 
                </div>
    
                <button class="submit-btn" type="submit">LogIn</button>
            </form>

            <h5>Already have an account? <a href="{% url 'signup' %}">SignUp</a></h5>
        </div>
    </div>
</body>
</html>