* {
    margin: 0;
    padding: 0;
}

/* :root {
  --primary-color: #1E293B; 
  --secondary-color: #3a485e; 
  --tertiary-color: #e4e4e4;
  --accent-color: #f30c0c; 
  --background-color: #F5F7FA; 
  --primary-text-color: black; 
  --secondary-text-color: #707070;
  --border-color-primary: #1E293B;
} */

:root {
  --primary-color: #1f60da; 
  /* --primary-color: red;  */
  --secondary-color: #3a72da; 
  --primary-hover-color: #b3bccab4;
  --secondary-hover-color: #c6cddab4;
  --tertiary-color: #e4e4e4;
  --accent-color: #f30c0c; 
  --background-color: #F5F7FA; 
  --primary-text-color: black; 
  --secondary-text-color: #707070;
  --border-color-primary: #1E293B;

  --expired-color: #686868;
  --hover-expired-color: #969696;
}



body {
    width: 100%;
    height: 100%;
}

/* Css For Popup Models */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: var(--background-color);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid var(--border-color-primary);
  width: 90%;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from {
      transform: translateY(-20px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.close {
  color: var(--secondary-text-color);
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: var(--primary-hover-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-form h3 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  font-size: 0.9rem;
  color: var(--secondary-text-color);
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 0.9rem;
  border: 1px solid var(--border-color-primary);
  border-radius: 5px;
  background-color: var(--tertiary-color);
  outline: none;
  transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--primary-color);
}

.submit-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  align-self: center;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: var(--secondary-color);
}

@media (max-width: 600px) {
  
}
  
  /* End  css for popup model */


.first-div {
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.nav-bar {
  width: 100%;
  height: 7vh;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--primary-color);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.logo-div {
  width: 45%;
  display: flex;
  
}

.logo-div img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.profile-div {
  width: 45%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: end;
}

.profile-btn {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  gap: 10px;
  /* padding: 10px; */
  padding-left: 20px;
  padding-right: 20px;
}

.profile-btn:hover {
  background-color: var(--secondary-color);
}

.profile-img img {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-name {
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--tertiary-color);
  font-weight: 600;
}

.profile-name span {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu img {
  max-width: 40px;
  max-width: 40px;
  width: auto;
  height: auto;
}



.main {
    width: 100%;
    height: calc(100vh - 7vh);
    display: flex;
    flex-flow: row;
}

.sidebar-container {
  display: flex; /* Sidebar visible by default */
  position: relative;
  top: 0;
  left: 0;
  width: 15%; /* Width for larger screens */
  height: 100%;
  background-color: var(--tertiary-color);
  z-index: 100;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.sidebar {
  width: 100%;
  height: 100%;
  background-color: var(--tertiary-color);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
 
}

.sidebar-div01 {
  width: 80%;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  padding: 10px;
  padding-top: 20px;
}

.sidebar-div01 a {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-text-color);
  padding: 3px;
  border-radius: 5px;

  font-size: medium;
  font-weight: 500;
}

.sidebar-div01 a:hover {
  background-color: var(--secondary-hover-color);
}

#add_task_link {
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 7px;
  cursor: pointer;
}

.sidebar_link_div01 {
  width: 20%;
  display: flex;
  justify-content: end;
}

.sidebar_link_div02 {
  width: 80%;
  padding-left: 7px;
  display: flex;
  justify-content: start;
}


#upcoming {
  background-color: #b3bccab4;
  color: #1f60da;
}


.sidebar-div02 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logout-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  border: none;
  /* border-radius: 5px; */
  padding: 10px;
  font-weight: 700;
  background-color: #E4E4E4;
  border-top: 1px solid var(--primary-color);
  cursor: pointer;
}

.logout-btn:hover {
  background-color: var(--secondary-hover-color);
}

/* .link-focus {
  background-color: var(--primary-hover-color);
  color: var(--primary-color);
}

.link-focus:hover {
  background-color: var(--primary-hover-color);
} */



.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100%;
    padding-top: 30px;
}

.content_upcoming {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content_scroll {
  display: flex;
  justify-content: end;
  padding-right: 30px;
}

.scroll_btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.inner_content {
  width: 100%;
  height: 100%;
  display: grid;
  /* flex-flow: row; */
  grid-auto-flow: column;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 20px;
  padding-left: 40px;
}

.date_sections {
  position: relative;
  width: 360px;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.date_box {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.add_task_btn_div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;

}

.add_task_btn_div button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  padding: 5px;
  border: none;
  border-radius: 6px;
  color: var(--primary-color);
  cursor: pointer;
  margin-bottom: 10px;

}

.add_task_btn_div button:hover {
  background-color: var(--primary-hover-color);
}



.date_box_tasks {
  width: 350px;
  max-height: 65%;
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 10px;
  scrollbar-width: none;
}

.date_box_tasks::-webkit-scrollbar {
  display: none;
}



.addTask-btn-div button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;
  /* border: 1px solid black; */
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.addTask-btn-div button:hover {
  background-color: var(--secondary-color);
}

.addTask-btn-div button svg {
  margin-right: 5px;
}



.task_card {
  display: flex;
  flex-flow: row;
  width: 90%;
  max-height: 120px;
  border: 2px solid var(--primary-color);

  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
}


.task_card:hover {
  background-color: #f8f8f8;
}



.task_checkbox {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 5%;
  margin-left: 10px;
  padding-top: 10px;
}



.styled-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}


.task_details {
  display: flex;
  flex-flow: column;
  width: 70%;
  align-items: start;
  padding: 10px;
  gap: 4px;
}

.task_details p {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2rem;
  max-height: 3.6rem;
  margin: 0;
}




.task_btns {
  width: 10%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: start;
  padding-top: 4px;
}

.menu {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 2px;
  border-radius: 5px;
}

.menu:hover {
  background-color: #D0D0D7;
}

.menu svg {
  transform: rotate(90deg);
}

.menu_btns {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
}



.dropdown .select {
  display: none;
  position: absolute;
  background-color: #E4E4E4;
  min-width: 70px;
  /* box-shadow: 2px 2px 5px #424242c2; */
  box-shadow: 0 0 5px 0 #424242c2;
  z-index: 1;
  margin-left: -23px;
  border-radius: 5px;
}

.menu_btns {
  width: 100%;
}

.menu_btns:hover {
  background-color: #d0d0d7;
}

.no-task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #707070;
}



.collapsable-header {
    display: flex;
    max-height: 40px;
    flex-flow: row;
    height: auto;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    
}

.collapseButton {
    width: 30px;
    height: 30px;
}

.collapsableDiv {
  width: 100%;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 15px;
  padding: 10px;
  scrollbar-width: none;
}




/* .card {
    width: 100%;
    height: 200px;
    background-color: aquamarine;
} */


/* Media query */

@media (max-width: 700px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }

  .hamburger-menu {
    display: flex;
    width: 30%;
    justify-content: start;
  }

  .logo-div {
      width: 30%;
      justify-content: center;
  }

  .profile-div {
     width: 30%;
     justify-content: end;
  }
  .profile-name {
    display: none;
  }

  


  .sidebar-container {
    display: none; 
    position: fixed;
    bottom: 0 !important;
    left: 0;
    width: 35%;
    height: calc(100vh - 7vh);
    background-color: var(--tertiary-color);
    z-index: 100;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 7vh;
  }

  .sidebar-container.active {
      display: flex; 
  }

  .sidebar {
     transform: translateX(-100%); 
     transition: transform 0.3s ease; 
  }

  .sidebar-container.active .sidebar {
    transform: translateX(0); 
  }

  /* .modal {
    padding: 5px;
  } */

  .modal-content {
    width: 95%;
    margin: 20% auto;
    padding: 15px;
  }

  .modal-form h3 {
      font-size: 1.2rem;
  }

  .submit-btn {
      width: 100%;
  }

  .content {
    width: 100%;
  }

  .inner_content {
    padding: 10px;
    padding-left: 10px;
  }

  
}